/* start of css reset */
html, body, div, span, applet, object, iframe, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 1px solid grey;  
font-size: 100%;  
font: inherit;  
vertical-align: baseline;

max-width: 100%;  
}
html{
font-size:62.5%;
}
body{
box-sizing: border-box;
line-height: 2;
font-size: 1.5rem;
}
/* End of css reset */

.circle{
    display:inline-block;
    width: 26%;
    height:26%;
    margin-left:9%;
    
    
}
section .text-top{
    display: inline-block;
    width: 64%;
    text-align:center;

}
section .text-top h1{
    padding-bottom:10%;
    padding-left:5%;
    font-size:7rem;
    letter-spacing:4px;
}
header nav a{
    display:inline-block;
    margin-bottom:4%;
    margin-left:15%;
    padding-left:2%;
    padding-right:2%;
    margin-top: 2%;
    
    
}
header nav{
    display:inline-block;
    width:100%;
    justify-content: space-between;
}